<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>首页</title>
		<!--icon-->
		<link rel="Shortcut Icon" href="../assets/images/icon.png">
		<!--基础style-->
		<link rel="stylesheet" href="../assets/css/app-default.css" />
		<!--当前页私有插件style-->
		<!--暂无-->
		<!--style-->
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"/>
	</head>
	<body>
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="test1">
						孙小云
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<span class="glyphicon glyphicon-user"></span>孙达云
				</div>
				<div class="col-md-4">
					<i class="fa fa-user"></i>程二宝
				</div>
			</div>
		</div>
		
		
		<!--script-->
		<!--公共插件-->
		<script src="../assets/plugins/app-plugins.min.js"></script>
		<!--当前页面单独引用插件-->
		<!--暂无-->
		<!--共有js-->
		<script src="../assets/js/app-webapp.js"></script>
		<!--当前页私有js-->
		<script src="../assets/js/index.js"></script>	
	</body>
</html>
